.coffee-image {
  height: 13rem;
  width: 19rem;
}
/* .container{
  margin-bottom: 3rem;
} */

.page-footer{
  margin-top: 1.5rem;
  border: 1px lightgrey solid
}

.card-deck{
  margin-top: 3rem;
}


#root {
  background-color: rgb(202, 199, 199);
}

